#stuff{
        font-size: 20px;

        background: greenyellow;
        border-style: dotted;
        background: url(https://images.unsplash.com/photo-1593134257782-e89567b7718a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHVwcHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60);
}

.text-center{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    
    color: #eab01c;
    border: pink;
    border-width: thick;
    border-width: 2px;
    border-style: solid;

    background-color: aqua;
}

.table{
    background-color: lightcoral;

}